.page-mask { 
	width: 100%; 
	height: 100%; 
	position: fixed; 
	background: #fff;  
	z-index: 99999;
}


.spinner {
	background: url(../images/flat-loader.gif);
  	width: 128px;
  	height: 128px;
  	position: absolute;
  	left: 50%;
  	margin: -64px 0 0 -64px;
  	top: 50%;
}
