<li class="dropdown">
    <a type="button" class="dropdown-toggle" data-toggle="dropdown">
        <span class="lang-sm" lang="[[[common:lang()]]]"></span> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="?lang=en_US"><span class="lang-sm lang-lbl" lang="en"></span></a></li>
        <li><a href="?lang=ru_RU"><span class="lang-sm lang-lbl" lang="ru"></span></a></li>
    </ul>
</li>
